frontend/node_modules/
frontend/dist/
frontend/.vite/

backend/app/__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
backend/app/.pytest_cache/
backend/app/.mypy_cache/
backend/app/.coverage
backend/.venv/
backend/env/

data/banco_imovel.db

.DS_Store
Thumbs.db
